NET "clk" LOC = "B8" ;
NET "rst" LOC = "H13" ;
NET "WE_n" LOC = "B18" ;
NET "RxD" LOC = "U6" ;
NET "TxD" LOC = "P9" ;
NET "Data_in<0>" LOC = "G18" ;
NET "Data_in<1>" LOC = "H18" ;
NET "Data_in<2>" LOC = "K18" ;
NET "Data_in<3>" LOC = "K17" ;
NET "Data_in<4>" LOC = "L14" ;
NET "Data_in<5>" LOC = "L13" ;
NET "Data_in<6>" LOC = "N17" ;
NET "Data_in<7>" LOC = "R17" ;
NET "pwm_motor[0]" LOC = "M15";
NET "pwm_motor[1]" LOC = "M16";
